body {
    /*  Global color scheme variables  */
    --header-bg: #2a2e31;
    --header-color: white;
    --header-border-color: #0000;
    --header-border-size: 0px;
    --header-logo-shadow: #0000;
    --header-text-shadow: #1b30;
    --header-link-hover-color: #bbb;
    --header-link-hover-decor: underline;
    --header-link-hover-shadow: #000;
    --header-link-current-page-color: #ff5555;

    --body-bg: initial;

    --content-bg: inherit;
    --content-margin-top: 0px;
    --content-border: none; /* solid 1px #d6d6d6; */
    --content-border-radius: 0; /* 5px; */
    --content-shadow: none; /* 3px 3px 6px #0001; */

    --footer-bg: var(--header-bg);

    --mobile-sidebar-bg: #f5f5f5;
    --mobile-sidebar-color: #222;
    --mobile-sidebar-width: 50vw;
    --mobile-sidebar-link-hover-color: var(--header-link-hover-color);
    --mobile-sidebar-current-page-bg: var(--header-link-current-page-color);

    --content-width-pc: 80vw;
    --content-width-mobile: 100vw;
    --content-padding: 15px;

    --h-colors: rgb(33, 37, 41);

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    padding: 0;
}


/*  Elements  */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    color: var(--h-colors);
}
h1 {
    font-size: 2.5rem;
}
p {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
}

/*  Header  */
header {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--header-bg);
    color: var(--header-color);
    border-bottom: solid var(--header-border-size) var(--header-border-color);
}
header > .left {
    display: flex;
    align-items: center;
}
header > .left > h1 {
    font-family: monospace;
    text-shadow: 0 2px 4px var(--header-text-shadow);
    font-size: 2em;
    margin: 0;
    color: var(--header-color);
}
header > .left > img.logo {
    filter: drop-shadow(0 2px 4px var(--header-logo-shadow));
    width: 56px;
    padding: 6px 10px;
}

header > .right {
    display: flex;
    align-content: center;
}

header > .right > ul.header-links {
    display: flex;
    align-content: center;
    flex-flow: wrap;
    padding: 0 10px;
}
header > .right > ul > li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 8px;
}

header > .right > ul > li.currentPage > a {
    color: var(--header-link-current-page-color);
}

header > .right > ul > li > a {
    color: var(--header-color);
    text-decoration: none;
    font-family: monospace;
    font-size: 120%;
}
header > .right > ul > li > a:hover {
    color: var(--header-link-hover-color);
    text-decoration: var(--header-link-hover-decor);
    text-shadow: 0 2px 4px var(--header-link-hover-shadow);
}

header > .right > .icon-sli-menu {
    display: none;
    align-self: center;
    margin-right: 20px;
    font-size: 160%;
}
header > .right > .icon-sli-menu:hover, header > .right > .icon-sli-menu:active {
    cursor: pointer;
}

#header-hitbox {
    width: 100vw;
}

/*  Mobile  */
@media only screen and (max-width: 750px) {
    header > .right > ul.header-links {
        display: none;
    }
    header > .right > .icon-sli-menu {
        display: block;
    }
    #mobile-sidebar {
        display: flex !important;
    }
    #mobile-sidebar.extended ~ #mobile-sidebar-shadow {
        display: block;
    }
    .container, .footer-container {
        max-width: var(--content-width-mobile) !important;
    }
}
/*  Small Mobile  */
@media only screen and (max-width: 400px) {
    #mobile-sidebar {
        --mobile-sidebar-width: 100vw !important;
        border: none !important;
    }
}





#mobile-sidebar {
    position: fixed;
    left: 100vw;
    top: 0;
    width: var(--mobile-sidebar-width);
    height: 100vh;
    background: var(--mobile-sidebar-bg);
    z-index: 9999;
    color: var(--mobile-sidebar-color);
    display: none;
    border-left: solid 2px #ccc;
    flex-direction: column;

    transition: left .3s ease;
}

#mobile-sidebar.extended {
    left: calc(100vw - var(--mobile-sidebar-width));
}

.mobile-sidebar-close {
    color: var(--mobile-sidebar-color);
    margin: 20px;
    font-size: 200%;
    text-align: right;
}

.mobile-sidebar-close:hover, .mobile-sidebar-close:active {
    cursor: pointer;
}

#mobile-sidebar > ul.header-links {
    padding: 0 20px;
    list-style: none;
}

#mobile-sidebar > ul.header-links > li {
    padding: 10px;
}
#mobile-sidebar > ul.header-links > li > a {
    color: var(--mobile-sidebar-color);
    text-decoration: none;
    font-family: monospace;
    font-size: 140%;
}
#mobile-sidebar > ul.header-links > li > a:hover {
    color: var(--mobile-sidebar-link-hover-color);
    text-decoration: var(--header-link-hover-decor);
}

#mobile-sidebar > ul.header-links > li.currentPage {
    background: var(--mobile-sidebar-current-page-bg);
}

#mobile-sidebar-shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #0006;
    width: 100vw;
    height: 100vh;
    display: none;
}

.creditsText {
    position: absolute;
    bottom: 0px;
    margin: 20px;
    font-family: monospace;
    color: #989898;
    font-style: italic;
}
.creditsText > a {
    color: var(--header-link-current-page-color);
}

footer {
    background-color: var(--footer-bg);
    position: absolute;
    bottom: 0px;
    width: 100vw;
    min-height: 50px;
}

footer > .creditsText {
    margin-top: 20px !important;
    position: initial;
}

.container {
    width: 100%;
    max-width: var(--content-width-pc);
    margin: 0 auto;
    margin-top: var(--content-margin-top);
    box-sizing: border-box;
    padding: var(--content-padding);
    box-shadow: var(--content-shadow);
    border-radius: var(--content-border-radius);
    border: var(--content-border);
}

.footer-container {
    width: 100%;
    max-width: var(--content-width-pc);
    margin: 0 auto;
    box-sizing: border-box;
}

.vertical-form {
    margin: 30px 0;
}
.vertical-form > * {
    box-sizing: border-box;
}
.vertical-form > input {
    display: block;
    width: 100%;
    max-width: 348px;
    border: 2px solid #adadad;
    font-size: 18px;
    padding: 5px 7px;
    font-family: "Franklin Gothic Book";
    color: #78899e;
    border-radius: 3px;
    margin-bottom: 20px;
}
.vertical-form > button {
    display: block;
    width: 100%;
    max-width: 348px;
    padding: 7px;
    text-align: center;
    background: #3a8720;
    color: #fff;
    font-family: "Helvetica";
    font-size: 17px;
    border: 2px solid #d5d5d5;
    cursor: pointer;
}
.vertical-form > input:focus {
    outline: none !important;
    border: 2px solid #737373;
}

/* Utilities Classes */
.no-userselect {
    user-select: none;
}

.vert-separator::after {
    line-height: 26px;
    font-family: none;
    font-size: 200%;
    padding: 0 10px;
    color: var(--header-link-hover-color);
    content: "|";
}
